# Environment Variables Template
APP_NAME=
APP_ENV=
DEBUG=

HOST=
PORT=

DATABASE_URL=
DATABASE_NAME=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_ROLE=

UPLOAD_FOLDER=

OPENAI_API_KEY=
